
*{
    font-family: "Montserrat", sans-serif;

}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
    color: #fff;
    height: 100dvh;
}
button{
    width: 120px;
    height: 40px;
    margin-top: 15px;
    border: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out;
}
button:hover {
    background-color: #7b7b7b;
    color: #fff;
    border: 1px solid white;
}

.btn {
    display: flex;
    gap: 10px
}
.game-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.board-container{
    text-align: center;
}
.game-board{
    background-color: white;
    color: #000000;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    border: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease-in;
}
.box{
    width: 48px;
    height: 48px;
    border: 1px solid rgb(168, 168, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.box:hover{
    background-color: rgb(226, 226, 226);
}

/* modal */
.modal{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
 
/* ships info */
#enemy-ship-info {
    margin-top: 10px;
}
#enemy-ship-info > div{
    display: flex;
}
#player-ship-info {
    margin-top: 10px;
}
#player-ship-info > div{
    display: flex;
    justify-content: end;
}
.ships{
    background-color: #9d9c9c;
    height: 25px;
    width: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-left: 5px;
}

